src/tmpl/about.pug
extends ./_layout.pug
block vars
  - var title = 'ABOUT | hi0711'
  - var body = 'aboutPage'
  - var description = 'web制作の会社で学んだ制作スキルと、事業会社で学んだビジネススキルを武器に、web全般での最適な課題解決を提案します。'
  - var ogDescription = 'web制作の会社で学んだ制作スキルと、事業会社で学んだビジネススキルを武器に、web全般での最適な課題解決を提案します。'
block content
  .section__wrapper.js-fadeup__item(style="opacity: 0")
    section.self__introduction
      .section__inner
        h1.article__title ABOUT
        .self__introduction--image
          picture
            source(type='image/webp' srcset='/image/optimg/about__img.webp')
            img(src="/image/about__img.png" alt='サトウヒロシ')
        .self__introduction--text
          h2.self__introduction--name
            | サトウ ヒロシ
            span: a(href="https://www.facebook.com/hi0711") [Facebook]
            span: a(href="https://twitter.com/_hi0711") [Twitter]
          p
            | 1985年、宮城県仙台市生まれ。
            br
            | 幼少期は仙台で過ごし、大学進学と同時に上京。長い青春を謳歌。
            br
            | 卒業後は地元・仙台の地元広告代理店に勤務。営業が絶望的に肌に合わず、web制作会社へ未経験で転職。
            br
            | デザイン、マークアップなどを経験してwebディレクター、そしてプロジェクトマネージャーに。以後複数の制作会社と事業会社を経験する。
          p
            | 培った制作スキルを元に、2015年、hi0711として副業フリーランス活動開始。2017年からは北海道札幌市で活動中。
            br
            | 官公庁やナショナルクライアント、地元の商店など、企業規模の大小を問わずさまざまな経験を積んでいるのが強み。
          p
            | 2018年からはフリーランスのwebディレクター、UIデザイナーとして活動を始める。
    section.tools__block
      .section__inner
        h2.section__title TOOLS
        .tools__block--list
          ul
            li: img(src="/image/Sketch-color.svg" alt='')
            li: img(src="/image/Photoshop-color.svg" alt='')
            li: img(src="/image/Github-color.svg" alt='')
            li: img(src="/image/LogoMark.svg" alt='')
            li: img(src="/image/Vimlogo.svg" alt='')
            li: img(src="/image/Bitmap.svg" alt='')
            li: img(src="/image/Apple-color.svg" alt='')
            li: img(src="/image/Slack-color.svg" alt='')
            li: img(src="/image/drive-color.svg" alt='')
    section.skills__block
      .section__inner
        h2.section__title SKILLS
        table.skills__block--table
          tbody
            tr
              th Project Management
              td ★★★★★
            tr
              th User Interface Design
              td ★★★★☆
            tr
              th html5 / css3
              td ★★★★☆
            tr
              th Javascript / jQuery
              td ★★★☆☆
            tr
              th Wordpress
              td ★★☆☆☆
            tr
              th Adobe Photoshop
              td ★★★☆☆
            tr
              th Adobe Illustrator
              td ★★☆☆☆
            tr
              th Graphic Design
              td ★★☆☆☆
            tr
              th Illustration
              td ★☆☆☆☆
  .back__button(ontouchstart="")
    a(href="/") back
  footer
    p hi0711.design

dist/about.html
<!DOCTYPE html>
<html class="no-js" lang="ja">
  <head>
    <meta charset="utf-8">
    <!-- Google Tag Manager-->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WJD9Z4F');
    </script>
    <!-- End Google Tag Manager-->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ABOUT | hi0711</title>
    <meta name="description" content="web制作の会社で学んだ制作スキルと、事業会社で学んだビジネススキルを武器に、web全般での最適な課題解決を提案します。">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta property="og:site_name" content="hi0711.design">
    <meta property="og:title" content="interaction director | hi0711">
    <meta property="og:description" content="web制作の会社で学んだ制作スキルと、事業会社で学んだビジネススキルを武器に、web全般での最適な課題解決を提案します。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://hi0711.design">
    <meta property="og:image" content="https://hi0711.design/image/og-image.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://hi0711.design">
    <meta name="twitter:image" content="https://hi0711.design/image/og-image.png">
    <link rel="apple-touch-icon" href="/image/apple-touch-icon.png">
    <link rel="icon" href="/image/favicon.png">
    <link rel="icon" href="/image/favicon@2x.png">
    <link rel="icon" href="/image/favicon@3x.png">
    <link rel="icon" href="/image/favicon@4x.png">
    <link rel="icon" href="/image/favicon@5x.png">
  </head>
  <body id="aboutPage">
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJD9Z4F"
      height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- Add your site or application content here-->
    <div class="section__wrapper js-fadeup__item" style="opacity: 0">
      <section class="self__introduction">
        <div class="section__inner">
          <h1 class="article__title">ABOUT</h1>
          <div class="self__introduction--image">
            <picture>
              <source type="image/webp" srcset="/image/optimg/about__img.webp"><img src="/image/about__img.png" alt="サトウヒロシ">
            </picture>
          </div>
          <div class="self__introduction--text">
            <h2 class="self__introduction--name">サトウ ヒロシ<span><a href="https://www.facebook.com/hi0711">[Facebook]</a></span><span><a href="https://twitter.com/_hi0711">[Twitter]</a></span></h2>
            <p>1985年、宮城県仙台市生まれ。<br>幼少期は仙台で過ごし、大学進学と同時に上京。長い青春を謳歌。<br>卒業後は地元・仙台の地元広告代理店に勤務。営業が絶望的に肌に合わず、web制作会社へ未経験で転職。<br>デザイン、マークアップなどを経験してwebディレクター、そしてプロジェクトマネージャーに。以後複数の制作会社と事業会社を経験する。</p>
            <p>培った制作スキルを元に、2015年、hi0711として副業フリーランス活動開始。2017年からは北海道札幌市で活動中。<br>官公庁やナショナルクライアント、地元の商店など、企業規模の大小を問わずさまざまな経験を積んでいるのが強み。</p>
            <p>2018年からはフリーランスのwebディレクター、UIデザイナーとして活動を始める。</p>
          </div>
        </div>
      </section>
      <section class="tools__block">
        <div class="section__inner">
          <h2 class="section__title">TOOLS</h2>
          <div class="tools__block--list">
            <ul>
              <li><img src="/image/Sketch-color.svg" alt=""></li>
              <li><img src="/image/Photoshop-color.svg" alt=""></li>
              <li><img src="/image/Github-color.svg" alt=""></li>
              <li><img src="/image/LogoMark.svg" alt=""></li>
              <li><img src="/image/Vimlogo.svg" alt=""></li>
              <li><img src="/image/Bitmap.svg" alt=""></li>
              <li><img src="/image/Apple-color.svg" alt=""></li>
              <li><img src="/image/Slack-color.svg" alt=""></li>
              <li><img src="/image/drive-color.svg" alt=""></li>
            </ul>
          </div>
        </div>
      </section>
      <section class="skills__block">
        <div class="section__inner">
          <h2 class="section__title">SKILLS</h2>
          <table class="skills__block--table">
            <tbody>
              <tr>
                <th>Project Management</th>
                <td>★★★★★</td>
              </tr>
              <tr>
                <th>User Interface Design</th>
                <td>★★★★☆</td>
              </tr>
              <tr>
                <th>html5 / css3</th>
                <td>★★★★☆</td>
              </tr>
              <tr>
                <th>Javascript / jQuery</th>
                <td>★★★☆☆</td>
              </tr>
              <tr>
                <th>Wordpress</th>
                <td>★★☆☆☆</td>
              </tr>
              <tr>
                <th>Adobe Photoshop</th>
                <td>★★★☆☆</td>
              </tr>
              <tr>
                <th>Adobe Illustrator</th>
                <td>★★☆☆☆</td>
              </tr>
              <tr>
                <th>Graphic Design</th>
                <td>★★☆☆☆</td>
              </tr>
              <tr>
                <th>Illustration</th>
                <td>★☆☆☆☆</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
    <div class="back__button" ontouchstart=""><a href="/">back</a></div>
    <footer>
      <p>hi0711.design</p>
    </footer>
    <script src="/assets/js/main-bundle.js?1531788840696"></script>
  </body>
</html>
