src/tmpl/blog.pug
extends ./_layout.pug
block vars
  - var title = 'BLOG | hi0711'
  - var body = 'blog'
  - var description = 'web制作の会社で学んだ制作スキルと、事業会社で学んだビジネススキルを武器に、web全般での最適な課題解決を提案します。'
  - var ogDescription = 'web制作の会社で学んだ制作スキルと、事業会社で学んだビジネススキルを武器に、web全般での最適な課題解決を提案します。'
block content
  .section__wrapper.js-fadeup__item(style="opacity: 0")
    section.cards
      - for (var i = 0; i < 6; i++)
          .cards__content
            .cards__content--info
                .cards__content--date: a(href="blog_detail.html") YYYY/MM/DD
                h1.cards__content--title: a(href="blog_detail.html") ブログのタイトル
            .cards__content--excerpt
              p
                | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                br
                | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              p
                | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                br
                | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              .more
                a(href="blog_detail.html") もっと見る

  .back__button(ontouchstart="")
    a(href="/") back
  footer
    p hi0711.design

dist/blog.html
<!DOCTYPE html>
<html class="no-js" lang="ja">
  <head>
    <meta charset="utf-8">
    <!-- Google Tag Manager-->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WJD9Z4F');
    </script>
    <!-- End Google Tag Manager-->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BLOG | hi0711</title>
    <meta name="description" content="web制作の会社で学んだ制作スキルと、事業会社で学んだビジネススキルを武器に、web全般での最適な課題解決を提案します。">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta property="og:site_name" content="hi0711.design">
    <meta property="og:title" content="interaction director | hi0711">
    <meta property="og:description" content="web制作の会社で学んだ制作スキルと、事業会社で学んだビジネススキルを武器に、web全般での最適な課題解決を提案します。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://hi0711.design">
    <meta property="og:image" content="https://hi0711.design/image/og-image.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://hi0711.design">
    <meta name="twitter:image" content="https://hi0711.design/image/og-image.png">
    <link rel="apple-touch-icon" href="/image/apple-touch-icon.png">
    <link rel="icon" href="/image/favicon.png">
    <link rel="icon" href="/image/favicon@2x.png">
    <link rel="icon" href="/image/favicon@3x.png">
    <link rel="icon" href="/image/favicon@4x.png">
    <link rel="icon" href="/image/favicon@5x.png">
  </head>
  <body id="blog">
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJD9Z4F"
      height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- Add your site or application content here-->
    <div class="section__wrapper js-fadeup__item" style="opacity: 0">
      <section class="cards">
        <div class="cards__content">
          <div class="cards__content--info">
            <div class="cards__content--date"><a href="blog_detail.html">YYYY/MM/DD</a></div>
            <h1 class="cards__content--title"><a href="blog_detail.html">ブログのタイトル</a></h1>
          </div>
          <div class="cards__content--excerpt">
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <div class="more"><a href="blog_detail.html">もっと見る</a></div>
          </div>
        </div>
        <div class="cards__content">
          <div class="cards__content--info">
            <div class="cards__content--date"><a href="blog_detail.html">YYYY/MM/DD</a></div>
            <h1 class="cards__content--title"><a href="blog_detail.html">ブログのタイトル</a></h1>
          </div>
          <div class="cards__content--excerpt">
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <div class="more"><a href="blog_detail.html">もっと見る</a></div>
          </div>
        </div>
        <div class="cards__content">
          <div class="cards__content--info">
            <div class="cards__content--date"><a href="blog_detail.html">YYYY/MM/DD</a></div>
            <h1 class="cards__content--title"><a href="blog_detail.html">ブログのタイトル</a></h1>
          </div>
          <div class="cards__content--excerpt">
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <div class="more"><a href="blog_detail.html">もっと見る</a></div>
          </div>
        </div>
        <div class="cards__content">
          <div class="cards__content--info">
            <div class="cards__content--date"><a href="blog_detail.html">YYYY/MM/DD</a></div>
            <h1 class="cards__content--title"><a href="blog_detail.html">ブログのタイトル</a></h1>
          </div>
          <div class="cards__content--excerpt">
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <div class="more"><a href="blog_detail.html">もっと見る</a></div>
          </div>
        </div>
        <div class="cards__content">
          <div class="cards__content--info">
            <div class="cards__content--date"><a href="blog_detail.html">YYYY/MM/DD</a></div>
            <h1 class="cards__content--title"><a href="blog_detail.html">ブログのタイトル</a></h1>
          </div>
          <div class="cards__content--excerpt">
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <div class="more"><a href="blog_detail.html">もっと見る</a></div>
          </div>
        </div>
        <div class="cards__content">
          <div class="cards__content--info">
            <div class="cards__content--date"><a href="blog_detail.html">YYYY/MM/DD</a></div>
            <h1 class="cards__content--title"><a href="blog_detail.html">ブログのタイトル</a></h1>
          </div>
          <div class="cards__content--excerpt">
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <div class="more"><a href="blog_detail.html">もっと見る</a></div>
          </div>
        </div>
      </section>
    </div>
    <div class="back__button" ontouchstart=""><a href="/">back</a></div>
    <footer>
      <p>hi0711.design</p>
    </footer>
    <script src="/assets/js/main-bundle.js?1531788840740"></script>
  </body>
</html>
