dist/index.html
<!DOCTYPE html>
<html class="no-js" lang="ja">
  <head>
    <meta charset="utf-8">
    <!-- Google Tag Manager-->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WJD9Z4F');
    </script>
    <!-- End Google Tag Manager-->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>interaction director | hi0711</title>
    <meta name="description" content="北海道札幌市で活動中の副業フリーランサー。webマーケティング、プロジェクトマネジメント、デザイン〜コーディング、Wordpressを使ったサイト構築まで。何でもご相談ください。">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta property="og:site_name" content="hi0711.design">
    <meta property="og:title" content="interaction director | hi0711">
    <meta property="og:description" content="北海道札幌市で活動中の副業フリーランサー。webマーケティング、プロジェクトマネジメント、デザイン〜コーディング、Wordpressを使ったサイト構築まで。何でもご相談ください。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://hi0711.design">
    <meta property="og:image" content="https://hi0711.design/image/og-image.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://hi0711.design">
    <meta name="twitter:image" content="https://hi0711.design/image/og-image.png">
    <link rel="apple-touch-icon" href="/image/apple-touch-icon.png">
    <link rel="icon" href="/image/favicon.png">
    <link rel="icon" href="/image/favicon@2x.png">
    <link rel="icon" href="/image/favicon@3x.png">
    <link rel="icon" href="/image/favicon@4x.png">
    <link rel="icon" href="/image/favicon@5x.png">
  </head>
  <body id="indexPage">
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJD9Z4F"
      height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- Add your site or application content here-->
    <section class="cover">
      <div class="cover__logo"><img src="/image/logo.svg" alt=""></div>
      <div class="index__buttongroup js-fadeup__item" style="opacity: 0">
        <div class="cover__ghostbutton"><a href="/about.html">ABOUT</a></div>
        <div class="cover__ghostbutton"><a href="https://docs.google.com/forms/d/e/1FAIpQLSdf1GPIzO6fNUuFk6NM7cUKHmHqpiHV43CQv9VBqsryCkYU-w/viewform?usp=sf_link" target="_blank" rel="noopener">CONTACT</a></div>
      </div>
    </section>
    <script src="/assets/js/main-bundle.js?1531788840845"></script>
  </body>
</html>

src/tmpl/index.pug
extends ./_layout.pug
block vars
  - var title = 'interaction director | hi0711'
  - var body = 'indexPage'
  - var description = '北海道札幌市で活動中の副業フリーランサー。webマーケティング、プロジェクトマネジメント、デザイン〜コーディング、Wordpressを使ったサイト構築まで。何でもご相談ください。'
  - var ogDescription = '北海道札幌市で活動中の副業フリーランサー。webマーケティング、プロジェクトマネジメント、デザイン〜コーディング、Wordpressを使ったサイト構築まで。何でもご相談ください。'
block content
  section.cover
    .cover__logo
      img(src="/image/logo.svg" alt='')
    .index__buttongroup.js-fadeup__item(style="opacity: 0")
      .cover__ghostbutton
        a(href="/about.html") ABOUT
      .cover__ghostbutton
        a(href="https://docs.google.com/forms/d/e/1FAIpQLSdf1GPIzO6fNUuFk6NM7cUKHmHqpiHV43CQv9VBqsryCkYU-w/viewform?usp=sf_link" target="_blank" rel="noopener") CONTACT
      //- .cover__ghostbutton
        a(href="blog.html") BLOG
